{% autoescape off %}
{% if edition.edition_year and edition.edition_copyright_holder %}
Copyright © {{ edition.edition_year }} {{ edition.edition_copyright_holder }}.
{% else %}
(Copyright: preencher no cadastro da edição.)
{% endif %}

Dominio publico en los Estados Unidos y otros territorios.

{% if edition.editorial_name %}
Editorial: {{ edition.editorial_name }}
{% else %}
Editorial: (preencher editorial)
{% endif %}
{% endautoescape %}
