{% autoescape off %}
Titulo
{{ title }}
Subtitulo
{{ subtitle }}
Autor
{{ author }}
Adaptacion
{{ adapter }}
Ano de publicacion
{{ year }}

Copyright © {{ year }} RinoBooks.

La obra original está en dominio público en los Estados Unidos y otros territorios.

Esta versión moderna de *{{ title }}* fue producida bajo el sello {{ imprint|default:"MantaQuest" }}.
{{ imprint|default:"MantaQuest" }} es una marca registrada de RinoBooks.

Editorial: {{ publisher|default:"Péricles Guará Silva" }}
Todos los derechos reservados a RinoBooks.
{{ city }}, {{ country }} — {{ year }}
{% endautoescape %}
