{% autoescape off %}
Copyright © {{ edition.publication_year }} {{ edition.author }}.
Di pubblico dominio negli Stati Uniti e in altri territori.

Questa edizione moderna di *{{ edition.title }}* è stata prodotta sotto il marchio {{ edition.seal_name }}.
{{ edition.seal_name }} è un marchio registrato di {{ edition.imprint_name }}.

Editore:
Tutti i diritti riservati a {{ edition.imprint_name }}.
{{ edition.city }}, {{ country_label }} — {{ edition.publication_year }}
{% endautoescape %}
