{% autoescape off %}
Copyright © {{ edition.publication_year }} {{ edition.author }}.
Domínio público nos Estados Unidos e em outros territórios.

Esta versão moderna de *{{ edition.title }}* foi produzida sob o selo {{ edition.seal_name }}.
{{ edition.seal_name }} é uma marca registrada da {{ edition.imprint_name }}.

Editora:
Todos os direitos reservados a {{ edition.imprint_name }}.
{{ edition.city }}, {{ country_label }} — {{ edition.publication_year }}
{% endautoescape %}
