::: center
# {{ edition.title }}
{% if edition.subtitle %}## {{ edition.subtitle }}{% endif %}
:::

**Autor:** {{ edition.author }}

{% if edition.adapter %}
**Adaptación:** {{ edition.adapter }}
{% endif %}

{{ edition.publication_year }}
