<div align="center">Frontispiz</div>

{{ edition.title }}
{{ edition.subtitle }}

{% if edition.about_edition_text %}
Über diese Ausgabe
{{ edition.about_edition_text }}
{% endif %}

Autor: {{ edition.author }}
Adaptiert von {{ edition.adapter }}

Erscheinungsjahr: {{ edition.publication_year }}

Copyright © {{ edition.publication_year }} {{ edition.imprint_name }}.

Das Originalwerk von Arthur Conan Doyle ist in den Vereinigten Staaten und anderen Gebieten gemeinfrei.
Diese moderne Ausgabe wurde von {{ edition.imprint_name }} adaptiert, redaktionell überarbeitet und strukturiert.

{{ edition.seal_name }} ist eine eingetragene Marke von {{ edition.imprint_name }}.

Verlag: {{ edition.imprint_name }}
Alle Rechte vorbehalten.
Rio de Janeiro, Brasilien — {{ edition.publication_year }}
